@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: AppleSDGothicNeo;
  src: url('../../public/fonts/AppleSDGothicNeoM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #f5f5f5;
}

body {
  color: #000000;
  background: var(--background-color);
}
